@charset "utf-8";
* {margin:0;padding:0;border:none;z-index:0;}
html,body,div,ol,ul,li,h1,h2,h3,h4,h5,h6,p,form,fieldset,blockquote {margin:0;padding:0;}
html, body {font-size:44px;}
#content {width:75%;margin:0 auto;}
h1, h2 {color:#bbb;padding-left:40px;margin:0px 0px 10px -60px;}
h1 {font:bold 100px helvetica, arial, sans-serif;border-left:20px solid #87913c;}
h2 {font:bold 44px helvetica, arial, sans-serif;border-left:10px solid #87913c;}
h1 em, h2 em, p em {font-style:normal;color:#888;}
p {font:bold 44px helvetica, arial, sans-serif;color:#bbb;padding-bottom:30px;}
a {color:#888;text-decoration:none;}
a:hover {color:#87913c;}
a img {border:none;}

@media all and (max-width: 699px) {
	h1,h2{padding-left:5px;}
	h1 {font-size:.7em;}
	h2 {font-size:.4em;}
}
@media all and (max-width: 350px) {
	h1,h2{padding-left:5px;}
	h1 {font-size:.6em;}
	h2 {font-size:.3em;}
}